/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Generics*/

.clearfix:after{
    content:'';
    clear:both;
    display: block;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

.float-left{
    float: left;
}

/*Header*/

header{
    background-color: #e579e6;
    height: 80px;
    margin-bottom: 30px;
    margin-top:25px;
}

/*Corpo*/

.box-1{
    background-color: #e1d67a;
    height: 600px;
    margin-bottom: 30px;
}

.container{
    background-color: #0286fa;
    width: 100%;
    margin-top: 30px;
    height: 600px;
}
